<% provide(:title, 'Contact') %>
<h1>Contact</h1>
  <div class="row">
    <aside id = "contact" class="span4">
    	<h3>Office </h3>
    	<li>Chronus Software India Pvt Ltd,</li>
    	<li>7th Floor,Module 3E(West Wing),</li>
    	<li>SP Infocity, No:40,MGR Salai,</li>
    	<li>Kandanchavadi,Chennai-600096,India</li>
    	<li>Phone:91.44.65659613</li>
    </aside>
    </div>